.filter_box_container {

border: 1px solid #efefef;
margin: 2px 0 10px 0;
padding: 6px;

}

.filter_box_container ul {

margin: 0;

}


.filter_box_container ul li {

list-style-type: none;
padding: 2px 0;

}

.filter_box_container ul li a {

text-decoration: none;
color: #333;
display: block;


}

.filter_box_heading {

font-size: 12px;
padding-bottom: 4px;

}

.filter_list_heading {

padding: 6px 0!important;
text-align: center;

}

.active_filter {

background: green;
padding: 6px;
margin: 0 0 0 -6px;
width: 100%;
color: #fff !important;

}

.active_filter:hover {

background: red;

}

.passive_filter:hover {

color: #999;

}